<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fd.dao.VideoMapper">

    <sql id="querySql">
        c.cate_name cateName,
        v.id id,v.title videoTitle,v.brief description,v.path path,v.cover cover,v.publish_date uploadTime,
        u.head_img headImg
    </sql>


    <sql id="queryByName">
         v.id id,v.title videoTitle,v.brief description,v.path path,v.cover cover,v.publish_date uploadTime,
        c.cate_name cateName,c.id categoryId,u.id userId,u.username userName,u.head_img userPicImg,
    </sql>




    <resultMap type="com.fd.vo.VideoVo" id="videoVoMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="videoTitle" column="videoTitle" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="INTEGER"/>
        <result property="path" column="path"/>
        <result property="cover" column="cover" jdbcType="VARCHAR"/>
        <result property="uploadTime" column="uploadTime" jdbcType="VARCHAR"/>
        <result property="cateName" column="cateName" jdbcType="VARCHAR"/>
        <result property="categoryId" column="categoryId" jdbcType="VARCHAR"/>
        <result property="userId" column="userId" jdbcType="VARCHAR"/>
        <result property="userName" column="userName" jdbcType="VARCHAR"/>
        <result property="userPicImg" column="userPicImg" jdbcType="VARCHAR"/>
        <collection property="videoList"  ofType="com.fd.vo.VideoVo">
            <id column="id" property="id"/>
            <result property="videoTitle" column="videoTitle"/>
            <result property="cover" column="cover"/>
            <result property="path" column="path"/>
            <result property="uploadTime" column="uploadTime"/>
            <result property="description" column="description"/>
            <result property="cateName" column="cateName"/>
            <result property="categoryId" column="categoryId"/>
            <result property="userId" column="userId"/>
        </collection>
    </resultMap>


    <sql id="queryCate">
        c1.id fid,c1.cate_name fcateName,c1.levels flevels,c1.parent_id fparentId,
        c2.id sid,c2.cate_name scateName,c2.levels slevels,c2.parent_id sparentId,
    </sql>

    <resultMap type="com.fd.vo.CateVo" id="cateVoMap">
        <id column="fid" property="id"/>
        <result column="fcateName" property="cateName"/>
        <result column="flevels" property="levels"/>
        <result column="fparentId" property="parentId"/>
        <collection property="categoryList" ofType="com.fd.vo.CateVo">
            <id column="sid" property="id"/>
            <result column="scateName" property="cateName"/>
            <result column="slevels" property="levels"/>
            <result column="sparentId" property="parentId"/>
        </collection>

    </resultMap>


    <select id="queryByReleaseTime" resultType="com.fd.vo.VideoVo">
        select <include refid="querySql" />
        from yx_category c
        right join yx_video v on c.id=v.category_id
        left join yx_user u on v.user_id=u.id
        order by v.publish_date desc

    </select>


    <select id="queryByLikeVideoName" resultType="com.fd.vo.VideoVo" parameterType="String">
        select <include refid="queryByName" />
        from yx_category c
        right join yx_video v on c.id=v.category_id
        left join yx_user u on v.user_id=u.id
        where v.title like '%'||#{content}||'%'
    </select>


<!--根据类别查询 展示一级类别下的所有二级类别视频信息 未实现-->
    <select id="queryByVideoDetail" resultMap="videoVoMap" parameterType="String">

    </select>

    <select id="queryAllCategory" resultMap="cateVoMap" >
      select <include refid="queryCate"/>
		from yx_category c1
		left join yx_category c2
		on c1.id=c2.parent_id
		where c1.levels=1
    </select>


    <select id="queryCateVideoList" resultType="com.fd.vo.VideoVo" parameterType="String">
        select <include refid="queryByName"/>
        from yx_category c
        right join yx_video v on c.id=v.category_id
        left join yx_user u on v.user_id=u.id
				where c.levels !=1 and c.id=#{cateId}
    </select>


    <select id="queryByUserMoving" resultMap="videoVoMap" parameterType="String">
        select <include refid="queryByName"/>
        from yx_category c
        right join yx_video v on c.id=v.category_id
        left join yx_user u on v.user_id=u.id
        where u.id=#{userId}
    </select>

    <select id="queryByUserVideo" resultType="com.fd.vo.VideoVo" parameterType="String">
        select <include refid="queryByName"/>
        from yx_category c
        right join yx_video v on c.id=v.category_id
        left join yx_user u on v.user_id=u.id
        where u.id=#{userId}
    </select>

</mapper>